<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cjf.entity.mysql5.UserMapper">
	<!--
 	Author CJF Generator
 	Version 1.0
	-->
	<sql id="criteriaSql">
		<where>
			<if test="id != 0">
				and a.id = #{id}
			</if>
			<if test="userCode != null and userCode != ''">
				and a.userCode like '%${userCode}%'
			</if>
			<if test="userName != null and userName != ''">
				and a.userName like '%${userName}%'
			</if>
			<if test="currentStatus != 0">
				and a.currentStatus = #{currentStatus}
			</if>
			<if test="empCode != null and empCode != ''">
				and a.empCode = #{empCode}
			</if>
		</where>
		order by a.id
	</sql>
	
	<sql id="lookupFieldSql">
		select a.*, e.empName, e.deptCode from CJF_USER a
		left join CJF_EMP e on a.empCode = e.empCode
	</sql>
	
	<select id="list" parameterType="User" resultType="User">
		<include refid="lookupFieldSql" />
		<include refid="criteriaSql" />
	</select>
		
	<select id="count" parameterType="User" resultType="int">
		select count(id) from CJF_USER a
		<include refid="criteriaSql" />
	</select>
	
	<select id="single" parameterType="User" resultType="User">
		<include refid="lookupFieldSql" />
		where a.id = #{id}
	</select>	

	<select id="countBiz" parameterType="User" resultType="int">
		select count(id) from CJF_USER
		where userCode = #{userCode}
	</select>

	<select id="countModifyCheck" parameterType="User" resultType="int">
		select count(id) from CJF_USER
		where userCode = #{userCode}
		and id != #{id}
	</select>
	
	<select id="singleByCode" parameterType="User" resultType="User">
		select * from CJF_USER
		where userCode = #{userCode}
	</select>

	<insert id="add" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		insert into CJF_USER 
		(userCode, userName, currentStatus, empCode, createDate, lastModifyDate, userImage, password, validDate)
		values 
		(#{userCode}, #{userName}, #{currentStatus}, #{empCode}, #{createDate}, #{lastModifyDate}, #{userImage}, #{password}, #{validDate})
	</insert>
	
	<sql id="criteriaUpdate">
		update CJF_USER 
		<set>
			<if test="id != 0">
				id = #{id}, 			
			</if>
			<if test="userName != null and userName != ''">
				userName = #{userName}, 			
			</if>
			<if test="empCode != null and empCode != ''">
				empCode = #{empCode}, 			
			</if>
			<if test="createDate != null">
				createDate = #{createDate}, 			
			</if>
			<if test="lastModifyDate != null">
				lastModifyDate = #{lastModifyDate}, 			
			</if>
			<if test="validDate != null">
				validDate = #{validDate}			
			</if>
		</set>
	</sql>

	<update id="update" parameterType="User">
		<include refid="criteriaUpdate" />
		where id = #{id}
	</update>
	
	<update id="updateByCode" parameterType="User">
		<include refid="criteriaUpdate" />
		where userCode = #{userCode}
	</update>
	
	<delete id="delete" parameterType="User">
		delete from CJF_USER  
		where id = #{id}
	</delete>
	
	<delete id="deleteByCode" parameterType="User">
		delete from CJF_USER  
		where userCode = #{userCode}
	</delete>
	
	<delete id="clear">
		delete from CJF_USER 
	</delete>
	
	<update id="updateUserCode" parameterType="User">
		update CJF_USER 
		set userCode = #{userCode} 
		where id = #{id}
	</update>
	
	<update id="updatePassword" parameterType="User">
		update CJF_USER 
		set password = #{password} 
		where id = #{id}
	</update>
	
	<update id="updateCurrentStatus" parameterType="User">
		update CJF_USER 
		set currentStatus = #{currentStatus} 
		where id = #{id}
	</update>
	
	<select id="CR_RoleUser" parameterType="User" resultType="int">
		select count(id) from CJF_ROLEUSER
		where userCode = #{userCode}
	</select>	
	
</mapper>	